@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

*, *::after, *::before { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background: black;
    color: #ec1e2e;
}

.grid-container {
    z-index: 2;
    display: grid;
    grid-template: repeat(12, auto) / repeat(12, auto);
    width: 100vw;
    height: 100vh;
}
/* ////// */
/* VIDEO */
/* //// */

#video {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* ///// */
/* LOGOS */
/* /// */

#main-figure {
    grid-row: 3 / 5;
    grid-column: 3 / 11;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#auf-ewig-winter-logo {
    width: 500px;
    fill: #ec1e2e;
}

#haxan-logo,
#kora-winter-logo {
    fill: white;
    transition: all 0.2s ease-out;
}

#haxan-logo {
    width: 500px;
    height: 300px;
    margin-right: 100px;
}

#haxan-logo:hover {
    width: 520px;
    height: 320px;
}

#kora-winter-logo {
    width: 300px;
    height: 300px;
}

#kora-winter-logo:hover {
    width: 320px;
    height: 320px;
}

/* /////////// */
/* NAVIGATION */
/* ///////// */

nav {
    grid-row: 6 / 8;
    grid-column: 5 / 9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#shop-link,
#podcast-link {
    text-decoration: line-through;
    filter: grayscale(100%);
}

#shop-link:hover,
#podcast-link:hover {
    cursor: not-allowed;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
}

#artist-link:hover,
#legal-notice-link:hover {
    color: white;
}

/* /////// */
/* FOOTER */
/* ///// */

footer {
    grid-row: 9 / 10;
    grid-column: 4 / 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fab {
    color: #ec1e2e;
    font-size: 5rem;
}

.fa-facebook-f:hover,
.fa-twitter:hover {
    color: white;
}

.fa-bandcamp {
    filter: grayscale(100%);
}

.fa-bandcamp:hover {
    cursor: not-allowed;
}
/* /////// */
/* MODALS */
/* ///// */

.outer-modal,
.inner-modal {
    display: flex;
    flex-wrap: wrap;
}

.outer-modal {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-modal {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#legal-notice-modal {
    overflow: scroll;
}

.legal-notice-inner-modal {
    font-size: 1.5rem;
    color: white;
    padding: 10%;
    text-align: justify;
}


/* ///// */
/* MISC */
/* /// */

.blur {
    filter: blur(5px);
}

.hidden {
    display: none;
}

.z-index {
    z-index: 666;
}

/* ////////////// */
/* MEDIA QUERIES */
/* //////////// */

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #auf-ewig-winter-logo {
        width: 175px;
    }

    #haxan-logo {
        margin-right: 0;
        width: 250px;
        height: 150px;
    }

    #kora-winter-logo {
        width: 200px;
        height: 200px;
    }

    #haxan-logo:hover {
        width: 270px;
        height: 170px;
    }

    #kora-winter-logo:hover {
        width: 220px;
        height: 220px;
    }

    nav {
        flex-direction: column;
    }

    #artist-link,
    #shop-link,
    #podcast-link,
    #legal-notice-link {
        font-size: 1.5rem;
    }

    footer {
        grid-column: 3 / 11;
    }

    .fab {
        font-size: 3rem;
    }

    .inner-modal {
        flex-direction: column;
    }

    .legal-notice-inner-modal {
        font-size: 1rem;
        padding: 5%;
    flex-direction: unset;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #haxan-logo {
        margin-right: 0;
    }

    .legal-notice-inner-modal {
        font-size: 1.2rem;
        padding: 5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #haxan-logo {
        margin-right: 100px;
        width: 400px;
        height: 200px;
    }

    #kora-winter-logo {
        width: 200px;
        height: 200px;
    }

    #haxan-logo:hover {
        width: 420px;
        height: 220px;
    }

    #kora-winter-logo:hover {
        width: 220px;
        height: 220px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #haxan-logo {
        margin-right: 100px;
        width: 500px;
        height: 300px;
    }

    #kora-winter-logo {
        width: 300px;
        height: 300px;
    }

    #haxan-logo:hover {
        width: 520px;
        height: 320px;
    }

    #kora-winter-logo:hover {
        width: 320px;
        height: 320px;
    }
}