@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

*, *::after, *::before { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background: black;
    color: #ec1e2e;
}

.grid-container {
    z-index: 2;
    display: grid;
    grid-template: repeat(12, auto) / repeat(12, auto);
    width: 100vw;
    height: 100vh;
}
/* ////// */
/* VIDEO */
/* //// */

#video {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* ///// */
/* LOGO */
/* /// */

figure {
    grid-row: 3 / 5;
    grid-column: 3 / 11;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    width: 500px;
}

/* /////////// */
/* NAVIGATION */
/* ///////// */

nav {
    grid-row: 6 / 8;
    grid-column: 5 / 9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#shop-link,
#podcast-link {
    text-decoration: line-through;
    filter: grayscale(100%);
}

#shop-link:hover,
#podcast-link:hover {
    cursor: not-allowed;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
}

#artist-link:hover,
#legal-notice-link:hover {
    color: white;
}

/* /////// */
/* FOOTER */
/* ///// */

footer {
    grid-row: 9 / 10;
    grid-column: 4 / 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fab {
    color: #ec1e2e;
    font-size: 5rem;
}

.fa-facebook-f:hover,
.fa-twitter:hover {
    color: white;
}

.fa-bandcamp {
    filter: grayscale(100%);
}

.fa-bandcamp:hover {
    cursor: not-allowed;
}

/* ////////////// */
/* MEDIA QUERIES */
/* //////////// */

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* body {
        background: white;
    } */

    #logo {
        width: 175px;
    }

    nav {
        flex-direction: column;
    }

    #artist-link,
    #shop-link,
    #podcast-link,
    #legal-notice-link {
        font-size: 1.5rem;
    }

    footer {
        grid-column: 3 / 11;
    }

    .fab {
        font-size: 3rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* body {
        background: green;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* body {
        background: blue;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* body {
        background: orange;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* body {
        background: yellow;
    } */
} 