#latest-release-container {
  background: rgb(144, 0, 0);
  padding: 2em 10% 4em 10%;

  .grid-container {
    display: grid;
    gap: 1em;
    grid-template-areas: 'youtube spotify';
  }

  .left {
    grid-area: 'youtube';
  }
  .right {
    grid-area: 'spotify';
    width: 50%;
  }

  h2 {
    font-size: 2em;
    padding-bottom: 1em;
    text-align: center;
  }
}
