#latest-release-container {
  background: var(--spotlight-color);
  color: #000;
  padding: 2em 10% 4em 10%;

  a {
    color: #000;
  }

  .iframe-spotify {
    margin-top: 1em;
  }

  .grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas:
      'image'
      'content';
    @media (min-width: 900px) {
      grid-template-areas: 'image content';
    }
    .left {
      grid-area: 'image';
    }
    .right {
      grid-area: 'content';
      align-self: center;
    }
  }

  h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  h3 {
    text-align: center;
    margin: 1em 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    li,
    figure {
      display: flex;
    }

    li {
      margin: 0.5em 0;
      figure {
        margin: 0 0.5em;
      }
    }
  }
}
