---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Kora Winter'>
  <h1>Kora Winter artist page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ea voluptas
    sit sint doloribus, facilis at laboriosam id laborum ex dolor labore minima
    vitae praesentium quod amet alias ipsam. Iure!
  </p>
  <a href='/'>GO BACK</a>
</Layout>
