<section aria-label='artists' id='artists'>
  <h2>Artists</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, deserunt! Atque
    suscipit odio provident totam aspernatur. Adipisci ex vitae dignissimos iure
    harum vel consequatur provident error ipsam, fuga ducimus reprehenderit.
  </p>
  <ul>
    <li><a href='/haxan'>HAXAN</a></li>
    <li><a href='/kora-winter'>Kora Winter</a></li>
  </ul>
</section>

<style>
  section {
    background: lightgreen;
    height: 50vh;
    padding: 1rem;
  }
</style>
