<section aria-label='intro'>
  <h1>aufewigwinter</h1>
  <p>Record label based in Berlin, Germany</p>
</section>

<style>
  section {
    background: lightgoldenrodyellow;
    height: 50vh;
    padding: 1rem;
  }
</style>
