<nav>
  <ul>
    <li><a href='#intro'>Intro</a></li>
    <li><a href='#spotlight'>Spotlight</a></li>
    <li><a href='#shop'>Shop</a></li>
    <li><a href='#artists'>Artists</a></li>
  </ul>
</nav>

<style>
  nav {
    background: #fff;
    /* overflow: hidden;
    position: fixed;
    top: 0; */
    width: 100%;
    padding: 1rem 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
</style>
