<section aria-label='spotlight' id='spotlight'>
  <h2>Spotlight</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, deserunt! Atque
    suscipit odio provident totam aspernatur. Adipisci ex vitae dignissimos iure
    harum vel consequatur provident error ipsam, fuga ducimus reprehenderit.
  </p>
</section>

<style>
  section {
    background: lightcoral;
    height: 50vh;
    padding: 1rem;
  }
</style>
