#artists-overview-container {
  background: #000;
  color: #fff;

  h2 {
    font-size: 2em;
    padding: 2em 0;
    text-align: center;
  }

  .grid-container {
    padding: 0 10%;
    width: 100vw;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-bottom: 8em;
  }

  .image-text-container {
    position: relative;
    text-align: center;
    color: white;
    background: #000;
    // border: 1px solid #000;
    &:hover {
      cursor: pointer;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
    }
  }
}
