@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

html {
  background: #000;
  color: #fff;
  font-size: calc(1em + 1vw);
  font-family: 'PT Sans Narrow';
}

.inner-wrapper {
  max-width: 30rem;
}

.iframe-youtube {
  width: 730px;
  height: 548px;
  border: none;
}

.iframe-spotify {
  width: 100%;
  height: 160px;
  border: none;
}
