#podcast-container {
  // background: lightseagreen;
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  scroll-snap-align: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
  }

  iframe {
    width: 100%;
    height: 232px;
    border: none;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }
}
